.node {
    background-color: #2A2A2A;
    border-radius: 6px;
    padding: 6px;
}

.choice-container {
    margin-top: 6px;
    padding: 4px;
    background-color: #3B3B3B;
    border-radius: 4px;
}
